.contact-page {
  background-color: #0d0d0d;
  color: #f5f5f5;
  padding: 40px 50px 80px;
  font-family: "Poppins", sans-serif;
}

/* Heading */
.contact-title {
  text-align: center;
  font-size: 2.8rem;
  color: #d4af37;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Description */
.contact-description {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 50px;
  line-height: 1.8;
  color: #e5e5e5;
}

.golden-text {
  color: #d4af37;
  font-weight: 700;
}

/* MAIN FLEX CONTAINER */
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

/* LEFT INFO SECTION */
.contact-info {
  flex: 1;
  min-width: 320px;
}

.info-item {
  margin-bottom: 25px;
}

.info-item h3 {
  color: #d4af37;
  font-weight: 600;
  margin-bottom: 10px;
}

.info-item p {
  color: #ccc;
  line-height: 1.6;
}

/* RIGHT FORM SECTION */
.contact-form {
  flex: 1;
  /* min-width: 320px; */
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(212, 175, 55, 0.2);
}

.contact-form h3 {
  color: #d4af37;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 95%;
  margin-bottom: 15px;
  padding: 12px;
  background-color: #2a2a2a;
  border: 1px solid #333;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
}

.contact-form button {
  background-color: #d4af37;
  color: #000;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background-color: #e0b94a;
}

/* MAP SECTION */
.map-section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.map-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: center;
}

.map-container iframe {
  width: 100%;
  height: 350px;
  border: none;
  border-radius: 8px;
}

/* TABLET */
@media (max-width: 700px) {
  .contact-page {
    padding: 40px 30px 70px;
  }

  .contact-container {
    flex-direction: column;
    gap: 30px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .contact-title {
    font-size: 2.2rem;
  }

  .contact-description {
    font-size: 0.95rem;
    padding: 0 10px;
    text-align: justify;
  }

  .contact-form,
  .contact-info {
    min-width: 80%;
  }

  .map-container iframe {
    height: 260px;
  }
}
